services:
  - type: web
    name: masterminds-ebooks
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm run start
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: SESSION_SECRET
        generateValue: true
      - key: MONGODB_URI
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_KEY
        sync: false
      - key: ADMIN_USERNAME
        value: admin
      - key: ADMIN_PASSWORD_HASH
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: CATBOX_USERHASH
        sync: false
    autoDeploy: true
